.repositories {
  display: grid !important;
  gap: 0.5rem;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.repocard {
    padding: 1rem;    
    position: relative;
    display: flex;
    flex-direction: column;
    color: #212529;
    word-wrap: break-word;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
}

.rowtitlebadge {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.repocardtitle {
    padding-bottom: .25rem;
    display: flex;
    flex: 0 0 auto;
    width: 83.33333333%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.repocardbadgebox {
    align-items: center;
  justify-content: flex-end;
  display: flex;
  flex: 0 0 auto;
    width: 16.66666667%;
}

.repocardbadge {
    color: #fff ;
    background-color: RGBA(33,37,41);
    display: inline-block;
    padding:0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
}

.btn-left {
  border-radius: 0;
  border-bottom-left-radius: 0.375rem;
}

.btn-right {
  border-radius: 0;
  border-bottom-right-radius: 0.375rem;
}

.icons {
display: flex !important;
justify-content: space-around;
align-items: center;
margin-bottom: -5.5px;
}

.icon{
cursor: pointer;
transition-duration: .3s;
}

.telegram:hover {
color: #229ED9;
}

.instagram:hover {
color: #E4405F;
}

.phone:hover {
color: #34A853;	
}

.mail:hover {
color: #FBBC04;
}

@media only screen and (max-width: 767px) {
  .repositories {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
