.repositories {
  display: grid !important;
  gap: 0.5rem;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 25px;
}

.repocard {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #212529;
    word-wrap: break-word;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
}

.repocardcontent {
  padding: 1rem;
}

.repocardbody {
  padding: 16px;
}

.rowtitlebadge {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.repocardtitle {
    display: block;
    flex: 0 0 auto;
    width: 83.33333333%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
      font-size: 1.2rem;
    font-weight: bold;
}

.repocardbadgebox {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex: 0 0 auto;
  width: 16.66666667%;
}

.repocardbadge {
    color: #fff ;
    background-color: RGBA(33,37,41);
    display: inline-block;
    padding:0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
}

.repocardsubtitle {
    color: rgba(33, 37, 41, 0.75);
    margin-top: -0.25;
    margin-bottom: 0;
}

.repocardsubtitletext {
  display: flex;
  gap: .25rem;
  align-items: center;
  justify-content: flex-end;
}

.repocardfooter {
  border-top: 1px solid rgba(0, 0, 0, 0.175);
}

.btn-middle {  
    width: 100%;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    background-color: #212529;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #212529;
    border-radius: 0 0 0.375rem 0.375rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-middle :hover {
   background-color: #424649;
  border-color: #373b3e;
}

.btn-middle :active {
  background-color: #4d5154;
  border-color: #373b3e;
}

.btn-left {
  border-radius: 0;
  border-bottom-left-radius: 0.375rem;
}

.btn-right {
  border-radius: 0;
  border-bottom-right-radius: 0.375rem;
}

.icons {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -5.5px;
}

.icon{
cursor: pointer;
transition-duration: .3s;
}

.telegram:hover {
color: #229ED9;
}

.instagram:hover {
color: #E4405F;
}

.phone:hover {
color: #34A853;	
}

.mail:hover {
color: #FBBC04;
}

@media only screen and (max-width: 767px) {
  .repositories {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
